html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: -1;
}



h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 44px;
    color: slategray;
}



a {
    cursor: url('https://eeriley99.github.io/code_sketchbook/icons-master/pinkCur.png'), auto;
}


a:link {
    text-decoration: none;
    color: MistyRose;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 32px;

}

/* visited link */
a:visited {
    color: MistyRose;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: MistyRose;
}

table {
    position: absolute;
    z-index: 1;
    width: 100%;

}


td {
    width: 33vw;
    height: 50px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;

    &:after,
    &:before {
        content: '';

        display: block;
        padding-bottom: calc(50% - 0.5em);
    }
}
