html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

a {
    cursor: url('https://eeriley99.github.io/code_sketchbook/icons-master/explode.png'), auto;
}


a:link {
    text-decoration: none;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 32px;

}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}
